# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env
venv/
.env
.env.big
.pytest_cache/
*.egg-info/
dist/
vacancy_back/secrets/my_account.session
offset_id
vacancy_back/secrets

# Poetry
*.dist-info/

# Node / Vue
node_modules/
dist/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# IDE / editor
.vscode/
.idea/
*.swp
.DS_Store