# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env
venv/
back/secrets/.env
.env.big
.pytest_cache/
*.egg-info/
dist/
back/secrets/my_account.session
offset_id
back/secrets
database
test-database

# Poetry
*.dist-info/

# Node / Vue
node_modules/
dist/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# IDE / editor
.vscode/
.idea/*
!.idea/runConfigurations/
!.idea/helpers/
*.swp
.DS_Store