services:
  back:
    build:
      target: dev
    volumes:
      - ./vacancy_back:/app

  front:
    build:
      target: dev
    ports:
      - "80:5173"
    volumes:
      - ./vacancy_front/vacancy/src:/app/vacancy/src