version: "3.9"

services:
  back:
    build:
      context: ../vacancy_back
      dockerfile: ../docker/DockerfileBack
      target: ${TARGET:-dev}
    ports:
      - "5001:5000"

  front:
    build:
      context: ../vacancy_front
      dockerfile: ../docker/DockerfileFront
      target: ${TARGET:-dev}
    ports:
      - "80:80"

  tests:
    build:
      context: ../vacancy_back
      dockerfile: ../docker/DockerfileBack
      target: test

    extra_hosts:
      - "host.docker.internal:host-gateway"

    environment:
      URL: ${URL}