name: Воркфлоу

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Клонирование репозитория
        uses: actions/checkout@v6

      - name: Сборка Docker-контейнеров
        run: docker-compose -f build/docker-compose.yaml build front back parser
