name: Приветствие

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Проверить что ci запускается на сервере
        run: whoami
